<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Nuevo producto</title>
    <!--
        <title>Nuevo producto</title>: El título de la página que aparecerá en la pestaña del navegador.
    -->
</head>
<body>
<form th:action="@{/productos/new}" method="POST" th:object="${producto}">
    <!--
        <form>: Inicio del formulario para crear un nuevo producto.
        th:action="@{/productos/new}": Thymeleaf genera dinámicamente la URL donde se enviará el formulario.
        En este caso, el formulario se enviará a la ruta "/productos/new" para crear un nuevo producto.
        method="POST": El formulario usa el método HTTP POST para enviar los datos al servidor.
        th:object="${producto}": Thymeleaf asocia el formulario con un objeto llamado "producto", que contiene los
        datos del nuevo producto.
    -->

    <input type="text" placeholder="Titulo..." id="titulo" name="titulo" th:field="*{titulo}"><br>
    <!--
        <input type="text">: Campo de entrada para el título del producto.
        placeholder="Titulo...": Muestra un texto de marcador de posición (placeholder) que dice "Titulo..." dentro del campo.
        id="titulo": Identificador del campo.
        name="titulo": Nombre del campo que será enviado al servidor.
        th:field="*{titulo}": Thymeleaf asocia este campo con el atributo "titulo" del objeto "producto".
        Carga automáticamente el valor si está presente, o deja el campo vacío para ingresar un nuevo valor.
        <br>: Salto de línea.
    -->
    <span th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></span>
    <br>

    <input type="number" placeholder="Cantidad..." id="cantidad" name="cantidad" th:field="*{cantidad}"><br>
    <!--
        <input type="number">: Campo de entrada que solo acepta números (para la cantidad del producto).
        placeholder="Cantidad...": Texto de marcador de posición que muestra "Cantidad..." en el campo.
        id="cantidad": Identificador del campo.
        name="cantidad": Nombre del campo que será enviado al servidor.
        th:field="*{cantidad}": Thymeleaf asocia este campo con el atributo "cantidad" del objeto "producto".
        <br>: Salto de línea.
    -->

    <input type="number" min="0" step="0.01" placeholder="Precio..." id="precio" name="precio" th:field="*{precio}"><br>
    <!--
        <input type="number">: Campo de entrada que solo acepta números (para el precio del producto).
        min="0": El valor mínimo permitido es 0, es decir, no se permiten valores negativos.
        step="0.01": Permite introducir valores con hasta dos decimales (por ejemplo, 10.50).
        placeholder="Precio...": Muestra el texto "Precio..." en el campo de entrada.
        id="precio": Identificador del campo.
        name="precio": Nombre del campo que será enviado al servidor.
        th:field="*{precio}": Thymeleaf asocia este campo con el atributo "precio" del objeto "producto".
    -->

    <input type="submit" value="insertar">
    <!--
        <input type="submit">: Botón de envío del formulario.
        value="insertar": El texto "insertar" se mostrará en el botón.
    -->
</form>
</body>
</html>
